/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#gmap {
  height: 600px;
}

#drivetimeMap, #leasingMap {
  padding: 0;
  margin: 0;
  height: 400px;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#stats {
  display: none;
}

h4 {
  font-size: 1.2rem !important;
}

.navbar {
  margin-bottom: 50px;
}